* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background: white;
    width: 100%;
    height: 100vh;
}

h3 {
    padding: 10px 0;
    text-align: center;
    font-family: monospace;
}

h1 {
    font-family: monospace;
    font-weight: bold;
    font-size: 70px;
    color: #7D29EA;
    text-transform: uppercase;
}

li {
    list-style: none;
}

.playzone {
    z-index: 99;
    background-color: white;
    height: 38rem;
    width: 38rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow:
        0px 0px 2.2px rgba(0, 0, 0, 0.025),
        0px 0px 5.3px rgba(0, 0, 0, 0.036),
        0px 0px 10px rgba(0, 0, 0, 0.045),
        0px 0px 17.9px rgba(0, 0, 0, 0.054),
        0px 0px 33.4px rgba(0, 0, 0, 0.065),
        0px 0px 80px rgba(0, 0, 0, 0.09);
}

.vs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.player {
    width: 100%;
    height: 100%;
}

.player .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    rotate: 90deg;
    filter: drop-shadow(3px 3px #7D29EA);
}

.machine {
    width: 100%;
    height: 100%;
}

.machine .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    rotate: -90deg;
    filter: drop-shadow(3px 3px #7D29EA);
}

.score {
    /* background-color: blue;   */
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 25px;
    height: 10%;
    padding: 15px 0;
}

.score .numbers {
    color: #7D29EA;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: monospace;
    font-size: 25px;
    font-weight: bolder;
}

.options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.option {
    cursor: pointer;
    height: 130px;
    width: 130px;
}

.option img:hover{
    transform: translate(2px, 2px);
    filter: drop-shadow(3px 3px #7D29EA);
}

img {
    filter: drop-shadow(5px 5px #7D29EA);
    height: 130px;
    width: 130px;
}


.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;   
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #7d29ea7d;
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}